<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
    <h1>Welcome!</h1>

<!--    <div th:if="${authenticated}">-->
<!--        <a href="/logout">Logout</a>-->
<!--    </div>-->

<!--    <div th:if="${!authenticated}">-->
<!--        <a href="/login">Login</a>-->
<!--        <a href="/register">Register</a>-->
<!--    </div>-->


    <a th:href="@{/login}" th:if="${!isAuthenticated}">Login</a>
    <a th:href="@{/logout}" th:if="${isAuthenticated}">Logout</a>
    <a th:href="@{/register}" th:if="${!isAuthenticated}">Register</a>
    <a th:href="@{/register/admin}" th:if="${isAuthenticated && isAdmin}">Register Admin</a>

<!--    <a th:href="@{/register}">Register</a>-->
</body>
</html>